/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Star Jedi';
  src: url('src/assets/fonts/StarJedi.woff2') format('woff2'),
       url('src/assets/fonts/StarJedi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Ropa Sans', sans-serif;
  /*background-image: url('src/assets/images/deathStar.jpg');*/
  /*background-color: rgba(0,0,0, .4);*/
  /*background-position: center;*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
}

body::after {
  content: "";
  background-image: url('src/assets/images/deathStar.jpg');
  *background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.flex {
  display: flex;
  justify-content: center;
}
/*
*
*     Layout Styles
*
*/
.container {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header header"
    "side content content"
    "footer footer footer";
  height: 100vh;
  max-width: 1660px;
  margin-right: auto;
  margin-left: auto;}

app-header {
  grid-area: header;
  text-align: center;
}

details,
main {
  grid-area: content;
  margin: 2rem;
  padding: 25px;
}

app-side {
  grid-area: side;
  overflow-y: scroll;
  background-color: #9e9e9e;
}

app-footer {
  grid-area: footer;
  text-align: center;
}

ul li {
  color: white;
}
ul li a {
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 15px;
}

@media (max-width: 991px) {
  app-side {
    margin: 0;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "content"
      "side"
      "footer";
    grid-template-rows:auto minmax(60px, auto) 1fr minmax(70px, auto) auto;
  }
}
/*
*
* End Layout Styles
*
*/
